<div class="menu">
    <ul>
        {{#if session.isAuthenticated}}
            <li><a {{action "invalidateSession"}}>Logout</a></li>
        {{else}}
            <li>{{#link-to "login"}}Login{{/link-to}}</li>
        {{/if}}
    </ul>
</div>

<div class="main">
    {{outlet}}
</div>
